img{
    max-height: 300px;
}

.container-fluid{
  background-image: url('../images/purpalt.png');
  width: 100vw;
  height: 300px;
}

body{
    overflow-x: hidden;
    width: 100%;
}
img.image-detail{
    max-height: 500px;
}
.mfp-wrap.mfp-close-btn-in{
    left: 200px !important;
    
}
.popup-content{
    z-index: -1;
}
/****/
/* * Simple fade transition,*/
/* */*/
/*.mfp-fade.mfp-bg {*/
/*	opacity: 0;*/
/*	-webkit-transition: all 0.15s ease-out; */
/*	-moz-transition: all 0.15s ease-out; */
/*	transition: all 0.15s ease-out;*/
/*}*/
/*.mfp-fade.mfp-bg.mfp-ready {*/
/*	opacity: 0.8;*/
/*}*/
/*.mfp-fade.mfp-bg.mfp-removing {*/
/*	opacity: 0;*/
/*}*/

/*.mfp-fade.mfp-wrap .mfp-content {*/
/*	opacity: 0;*/
/*	-webkit-transition: all 0.15s ease-out; */
/*	-moz-transition: all 0.15s ease-out; */
/*	transition: all 0.15s ease-out;*/
/*}*/
/*.mfp-fade.mfp-wrap.mfp-ready .mfp-content {*/
/*	opacity: 1;*/
/*}*/
/*.mfp-fade.mfp-wrap.mfp-removing .mfp-content {*/
/*	opacity: 0;*/
/*}*/