{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static 'css/movie.css' %}" type="text/css" />
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-12 col-md-3 ">
    </div>
    <div class="col-12 col-md-7 mt-5 text-white">
          <h1>Movie Super Fan <span>&raquo; Super Fans Blog</span>
          </h1>
          <p class="lead">The latest display of movies that are currently playing in theaters around the United States.
            Explore various movies and get excited about a movie date :)</p>
      
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
            {% for movie in movies %}
            <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-lg">
              <img class="card-img-top img-fluid" src="{{movie.movie_poster_url}}" alt="Movie Poster">
              <div class="card-body">
                <h5 class="card-title">{{movie.movie_title}}</h5>
                <p class="card-text">{{movie.movie_overview|truncatechars:50}}</p>
                <a href="{% url 'movies:movie_details' movie.slug movie.id %}" class="btn btn-primary">View More...</a>
              </div>
            </div>
            </div>
        {% endfor %}
         
    </div>
    {% include "includes/pagination.html" %}
</div>
{% endblock %}
